p{
    font-family: 'Helvetica', sans-serif;
}
#hero-title{
    font-family: 'Helvetica', sans-serif;
    font-size: 4.5em;
}

#hero-purr{
    color: rgb(73, 126, 206);
}

#hero-meow{
    color:rgb(204, 206, 87);
}

#hero-paragraph{
    /* border: 2px solid rgb(56, 56, 56); */
    padding-left: 1rem;
    border-left: 3px solid rgb(139, 139, 139);
}

#hero-picture{
    border-radius: 1rem;
    border: 2px solid rgb(56, 56, 56);
    background-color: rgb(207,234,249)
    
    /* box-shadow: rgb(133, 133, 211) 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(126, 209, 237) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(232, 220, 160) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(234, 225, 123) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(87, 241, 27) 40px -40px; */
}

#callToAction{
    background-color: #497ece;
}

#callToAction:hover{
    background-color: #d5d841;
}

