

.App{
    background-image:url("./assets/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: '100vw';
    height: '100vh';
    background-position: 'center';
  
    /* opacity: 0.6; */
}